
/*body{
 background-attachment: fixed;
 background-position: center, center;
 background-repeat: no-repeat;
 background-size: cover;
 background-image:linear-gradient(rgba(255, 255, 255, 0.651),  rgba(252, 253, 255, 0.59)), url(https://www.cepal.org/sites/default/files/styles/1920x1080/public/images/featured/salud2.jpg?itok=gv3EJE1k);
}



.todo  {


text-align: center;
}

h1{

    text-align: center;
}*/